*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', sans-serif;
}

html{
    background: linear-gradient(rgba(255, 218, 185, 0.9), rgba(255, 218, 185, 0.9));
}

.fakeHeader{
    height: 120px;
    width: auto;
    display: flex; 
    justify-content: space-between; 
    padding: 0 20px; 
}

.LogoDiv {
    display: flex;
    align-items: center;
}

.LogoDiv img{
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: #89CFF0;
    padding: 10px 25px;
    margin: 10px;
    border: 1px solid #89CFF0;
    text-decoration: none;
    border-radius: 5px 5px 20px 5px;
    font-family: "Space Grotesk", sans-serif;
}

nav a:hover {
    font-weight: bold;
    background-color: #0C2C4E;
    transition-duration: 0.4s;
}


.btn-salir{
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545; 
    border: none;
    border-radius: 5px 5px 20px 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-salir:hover {
    background-color: #c82333; 
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn.btn-danger {
    background-color: #dc3545;
    color: white;
    margin-top: 10px;
}

.btn.btn-modificar {
    background-color: rgb(255, 165, 0);
    color: white;
    margin-top: 10px;
}

.btn.btn-anadir {
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
    margin-top: 10px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img{
    width: 105%;
    cursor: pointer;
}

.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

.adminFotos {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

/*Media query del menu hamburguesa*/

@media (max-width: 2000px) {
    nav{
        display: block;
    }
    
    .menuWrapper {
        display: none;
    }  
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    nav a {
        color: #89CFF0;
        font-family: "Space Grotesk", sans-serif;
        padding: 10px 25px;
        margin: 10px;
        border: 1px solid #89CFF0;
        text-decoration: none;
        border-radius: 5px 5px 20px 5px;
    }
    
    nav a:hover {
        font-weight: bold;
        background-color: #0C2C4E;
        transition-duration: 0.4s;
    }
  
}

@media (max-width: 900px) {
    nav{
        display: none;
    }
    
    .menuWrapper {
        display: block;
    }  

    .menuNav {
        display: none;
        position: absolute;
        z-index: 1000;
    }

    .burgerButton,
    .menuNav a {
        display: block;
        padding: 12px 20px;
        border: 1px solid #89CFF0;
        background-color: #89CFF0;
        border-radius: 15px 5px;
        margin-top: 5px;
        margin-left: -100px;
        text-align: center;
        z-index: 1000;
        text-decoration: none;
        color: #0C2C4E;
        font-family: "Space Grotesk", sans-serif;
    }

    .burgerButton:hover,
    .menuNav a:hover {
        font-weight: bold;
        background-color: #0C2C4E;
        transition-duration: 0.4s;
        color: #89CFF0;
    }

    .burgerMenu{
        margin-top: 40px;
        margin-right: 50px;
    }
}


@media (max-width: 700px) {

    .burgerButton{
        padding: 12px 20px;
        border: 1px solid #9BB8CD;
        background-color: #9BB8CD;
        border-radius: 15px 5px;
    }

    .burgerButton:hover{
    background-color: #C5D8E5;
    color: rgb(60, 60, 60);
    transition-duration: 300ms;
    }
}
