* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}


.fakeHeader {
    height: 120px;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #fff;
}

.LogoDiv {
    display: flex;
    align-items: center;
}

.LogoDiv img {
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: #89CFF0;
    font-family: 'Playfair', serif;
    padding: 10px 25px;
    margin: 10px;
    border: 1px solid #89CFF0;
    text-decoration: none;
    border-radius: 5px 5px 20px 5px;
}

nav a:hover {
    font-weight: bold;
    background-color: #0C2C4E;
    transition-duration: 1s;
}

.table {
    table-layout: fixed;
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

td {
    width: 33%;
    border: 1px solid #ccc;
    padding: 8px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.btn-prev {
    background-color: #f44336;
}

.btn-current {
    background-color: #2196f3;
}

.btn-next {
    background-color: #4CAF50;
}

.btn.btn-success {
    background-color: #28a745;
    color: white;
}


.btn.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn.btn-modificar {
    background-color: rgb(255, 165, 0);
    color: white;
}

.btn-salir {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-salir:hover {
    background-color: #c82333;
}

.adminReservas {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.adminReservas ul {
    list-style-type: none;
    padding: 0;
}

.adminReservas li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.today {
    background-color: #ffc107;
}

.empty {
    background-color: #f2f2f2;
}

.form-group {
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    color: #555;
}

.form-control {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

/*Media query del menu hamburguesa*/

@media (max-width: 2000px) {
    nav {
        display: block;
    }

    .menuWrapper {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav a {
        color: #89CFF0;
        font-family: 'Playfair', serif;
        padding: 10px 25px;
        margin: 10px;
        border: 1px solid #89CFF0;
        text-decoration: none;
        border-radius: 5px 5px 20px 5px;
    }

    nav a:hover {
        font-weight: bold;
        background-color: #0C2C4E;
        transition-duration: 0.4s;
    }

}

@media (max-width: 900px) {
    nav {
        display: none;
    }

    .menuWrapper {
        display: block;
    }

    .menuNav {
        display: none;
        position: absolute;
        z-index: 1000;
    }

    .burgerButton,
    .menuNav a {
        display: block;
        padding: 12px 20px;
        border: 1px solid #89CFF0;
        background-color: #89CFF0;
        border-radius: 15px 5px;
        margin-top: 5px;
        margin-left: -100px;
        text-align: center;
        z-index: 1000;
        text-decoration: none;
        color: #0C2C4E;
        font-family: 'Playfair', serif;
    }

    .burgerButton:hover,
    .menuNav a:hover {
        font-weight: bold;
        background-color: #0C2C4E;
        transition-duration: 0.4s;
        color: #89CFF0;
    }

    .burgerMenu {
        margin-top: 40px;
        margin-right: 50px;
    }
}


@media (max-width: 700px) {

    .burgerButton {
        padding: 12px 20px;
        border: 1px solid #9BB8CD;
        background-color: #9BB8CD;
        border-radius: 15px 5px;
    }

    .burgerButton:hover {
        background-color: #C5D8E5;
        color: rgb(60, 60, 60);
        transition-duration: 300ms;
    }
}