*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}


.fakeHeader {
    height: 120px;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #fff;
}

.LogoDiv {
    display: flex;
    align-items: center;
}

.LogoDiv img {
    height: 80px;
}

.anchors {
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchors a {
    color: #89CFF0;
    font-family: 'Playfair', serif;
    padding: 10px 25px;
    margin: 10px;
    border: 1px solid #89CFF0;
    text-decoration: none;
    border-radius: 5px 5px 20px 5px;
}

.anchors a:hover {
    font-weight: bold;
    background-color: #0C2C4E;
    transition-duration: 1s;
}

