*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFF0;
}

.fakeHeader{
    height: 120px;
    width: auto;
    display: flex; 
    justify-content: space-between; 
    padding: 0 20px; 
}

.LogoDiv {
    display: flex;
    align-items: center;
}

.LogoDiv img{
    height: 80px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

nav a{
    color: #89CFF0;
    font-family: 'Playfair', serif;
    padding: 10px 25px;
    margin: 10px;
    border: 1px solid #89CFF0;
    text-decoration: none;
    border-radius: 5px 5px 20px 5px;
}

nav a:hover {
    font-weight: bold; 
    background-color: #0C2C4E;
    transition-duration:1s ;
}

.btn-salir{
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545; 
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-salir:hover {
    background-color: #c82333; 
}

.container-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    background-color: #89CFF0;
    color: #000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1B1212;
    color: #f1f1f1;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/*Media query del menu hamburguesa*/

@media (max-width: 2000px) {
    nav {
        display: block;
    }

    .menuWrapper {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav a {
        color: #89CFF0;
        font-family: 'Playfair', serif;
        padding: 10px 25px;
        margin: 10px;
        border: 1px solid #89CFF0;
        text-decoration: none;
        border-radius: 5px 5px 20px 5px;
    }

    nav a:hover {
        font-weight: bold;
        background-color: #0C2C4E;
        transition-duration: 0.4s;
    }

}

@media (max-width: 900px) {
    nav {
        display: none;
    }

    .menuWrapper {
        display: block;
    }

    .menuNav {
        display: none;
        position: absolute;
        z-index: 1000;
    }

    .burgerButton,
    .menuNav a {
        display: block;
        padding: 12px 20px;
        border: 1px solid #89CFF0;
        background-color: #89CFF0;
        border-radius: 15px 5px;
        margin-top: 5px;
        margin-left: -100px;
        text-align: center;
        z-index: 1000;
        text-decoration: none;
        color: #0C2C4E;
        font-family: 'Playfair', serif;
    }

    .burgerButton:hover,
    .menuNav a:hover {
        font-weight: bold;
        background-color: #0C2C4E;
        transition-duration: 0.4s;
        color: #89CFF0;
    }

    .burgerMenu {
        margin-top: 40px;
        margin-right: 50px;
    }
}


@media (max-width: 700px) {

    .burgerButton {
        padding: 12px 20px;
        border: 1px solid #9BB8CD;
        background-color: #9BB8CD;
        border-radius: 15px 5px;
    }

    .burgerButton:hover {
        background-color: #C5D8E5;
        color: rgb(60, 60, 60);
        transition-duration: 300ms;
    }
}

